.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
	max-width: 800px;
}

.controls-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

select {
	font-size: 20px;
	box-shadow: 0 0 5px grey;
	background-color: white;
	padding: 2px;
	margin: 8px;
	width: 100px;
}

.numbers-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.operators-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
